<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入别名机制-->
<!--    <typeAliases>-->
<!--        <package name="com.yjxiaoxu.crowd"/>-->
<!--    </typeAliases>-->
<!--    <mappers>-->
<!--    </mappers>-->
</configuration>